apiVersion: v1
kind: Service
metadata:
  name: producer-service
  labels:
    app: producer
spec:
  type: NodePort
  selector:
    app: producer
  ports:
    - protocol: TCP
      port: {{.Values.containerPort}}
      targetPort: {{.Values.containerPort}}
      nodePort: {{.Values.nodePort}}
