apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret-host
type: Opaque
stringData:
  host: "amqp://default_user_3ZCowrj7c_X9b9iJf-F:7lZhIO06ZesrPc1nVaiWSSqQgbWf1NO-@rabbitmq-mediator"
---
apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: rabbitmq-trigger-auth
spec:
  secretTargetRef:
    - parameter: host
      name: rabbitmq-secret-host
      key: host
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: rabbitmq-consumer-scaler
  namespace: default
spec:
  scaleTargetRef:
    name: {{.Values.deployment.name}}
  minReplicaCount: 0
  maxReplicaCount: 20
  triggers:
    - type: rabbitmq-queue
      metadata:
        queueName: notifications_queue
        queueLength: "1"
      authenticationRef:
        name: rabbitmq-trigger-auth
